{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-1"
  ],
  "plugins": [
      "transform-decorators-legacy",
      "transform-class-properties",
      "transform-async-to-generator"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
