@import "sass/variables";
@import "sass/mixins/content-center";
@import "sass/mixins/media";
:local(.base){
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacer;
    padding: $spacer;
    @include content-center;

    @include desktop{
        grid-template-columns: repeat(3, 1fr);
    }
}
