@import "./typography";
@import "./variables";
* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
button {
    cursor: pointer;
}
