$primary-color: #333;
$accent-color: #f1c51d;
$header-color: rgba(21, 21, 21, 0.62);

$background-color: #E1E2E1;
$background-color-light: #F5F5F6;

$primary-text-color: #333;

$content-width: 1024px;
$spacer: 30px;
$desktop-width: 850px;
$hero-height: 600px;

$header-height: 80px;
