
$color-primary:         #1abc9c;
$color-secondary:       #9b59b6;
$color-dark:            #18232f;
$color-light:           #34495e;
$color-body:            #2c3e50;

$color-success:         #4caf50;
$color-info:            #5bc0de;
$color-warning:         #f0ad4e;
$color-error:           #e74c3c;


$color-gray:            #dee6ea;
$color-gray-light:      #edf3f6;
$color-gray-dark:       #969da6;
$color-white:           #ffffff;

$color-border:          #465f78;

$content-width: 800px;
$gutter: 30px;
$desktop-width: 800px;
$hero-height: 600px;
$navbar-height: 80px;

$header-height: 80px;
